$green: #499D2F;

body{
    background:whitesmoke;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

a{  
   
    color:black;
    &:hover{
        color:$green;
    } 
}
